<html ng-app="PsihoApp" ng-controller="AnagramController">
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/bootstrap/css/bootstrap.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/angular-slider/angular-slider.css') }}">

   </head>
   <body ng-class="{dark: imagesError}">
      <div class='parent'>
         <div class="col-md-offset-5" ng-show="timerOn"><h3>Time: [[ time ]]</h3></div>

         <!-- =============== Anagram page ========================= -->
         <div ng-show="anagramShow" class="child">
           <div class="child">
               <div class="form-group">
                  <h1 class="text-center"><strong>[[ currentAnagram ]]</strong></h1>
                  <input type="text" class="form-control" ng-model="userAnagramInput" />
               </div>
               <div class="row">
                  <div class="col-lg-6">
                     <a href="#" ng-click="answerAnagram()" class="btn btn-primary btn-block btn-lg btn-default">Answer</a>
                  </div>
                  <div class="col-lg-6">
                     <a href="#" ng-click="skipAnagram()" class="btn btn-danger btn-block btn-lg btn-default">Skip</a>
                  </div>
               </div>
            </div>
         </div>

         <div class="child" ng-show="anagramsDirectionsShow">
            <p class="regular-text">În această sarcină, va trebui să rezolvați un număr de anagrame. Anagramele sunt șiruri de
            litere care trebuie reordonate pentru a forma un cuvânt. De exemplu, LGO este o anagramă pentru
            cuvântul GOL. Sarcina dumneavoastră este așadar aceea de a rearanja literele într-un cuvânt existent în
            limba română și de a trece răspunsul în chenarul aferent. Nu aveți o limită de timp, așa că încercați să
            rezolvați anagramele cât mai bine, iar în cazul în care doriți să treceți peste una dintre ele, aveți
            opțiunea de a sări peste.
            </p>
            <a href="#" ng-click="answerAnagram(true)"
                     class="btn btn-primary btn-block btn-lg btn-default">Incepe</a>
         </div>

         <!-- ======================== Name page =========================== -->
         <div class="child">
               <div class="form-horizontal" ng-show="nameShow">
                  <div class="form-group">
                     <div>
                        <input type="text" class="form-control" placeholder="Name" ng-model="participantName">
                     </div>
                  </div>
                  <div class="form-group">
                     <div>
                        <a href="#" ng-click="registerName()"
                           class="btn btn-primary btn-block btn-lg btn-default">Continuați</a>
                     </div>
                  </div>
               </div>
         </div>

         <!-- ======================== slider ======================= -->
         <div class="child" ng-show="sliderShow">
            <h2 class="col-md-offset-4">Esti stresat?</h2>
            <br>
            <span>
               <span><h4>Nivel stres: [[ registeredStress ]]</h4></span>
               <slider floor="0" ceiling="10" step="1" precision="1" ng-model="registeredStress"></slider>
            </span>
            <br><br>
            <a href="#" ng-click="registerStress()"
               class="btn btn-primary btn-block btn-lg btn-default">Continuați</a>
         </div>

         <!-- ======================== quiz ============================= -->
         <div class="col-md-offset-4 quiz-width" ng-show="quizShow">
            <div>
             [[currentQuiz.description]]
            </div>
            <div ng-repeat='question in currentQuiz.questions track by $index'>
               <form class="form-inline">
                     <h3>[[ question.text ]]</h3>
                     <div ng-repeat="option in currentQuiz.options track by $index" class="form-group">
                        <input type='radio'
                        ng-model="$parent.question.option"
                        ng-value="option.text"
                        name="[[question]]">
                        <span class="option-text">[[ option.text ]]</span>
                     </div>
               </form>
            </div>

            <a href="#" ng-click="submitQuiz()"
               class="btn btn-primary btn-block btn-lg btn-default width-fix">Continuați</a>
         </div>

         <!-- ========================== pictures page =====================-->
         <div class="child" ng-show="imagesDirectionsShow">
            <p class="regular-text">În această sarcină vi se vor prezenta câteva serii de imagini. Fiecare imagine prezintă două
               chenare, unul în stânga, altul în dreapta. Chenarele conțin anumite caracteristici perceptuale. Aceste
               caracteristici reprezintă patru dimensiuni diferite (culoare, formă, literă, mărimea literei), fiecare
               dimensiune putând lua două valori distincte (verde/roșu, pătrat/cerc, A/T, literă mică/mare).
               Veți urmări patru serii a câte zece imagini. Pentru fiecare serie, am desemnat ca fiind corectă
               una din aceste opt valori menționate. La fiecare imagine, sarcina dumneavoastră va fi să alegeți care
               dintre cele două chenare conține această valoare. Pentru a face asta, trebuie să dați click pe unul dintre
               butoanele aflate sub imagine (cel din stânga sau cel din dreapta). Dacă alegerea dumneavoastră este
               incorectă, un semnal zgomotos vă va semnala acest lucru, iar dacă alegerea este corectă, nu veți fi
               semnalați.
            </p>
            <a href="#" ng-click="nextImage()"
                     class="btn btn-primary btn-block btn-lg btn-default">Incepe</a>
         </div>

         <div class="child" ng-show="imagesPrepareMsg">
            <h2>Pregătiți-vă, începe seria [[ series ]]</h2>
         </div>

         <div class="child" ng-show="imagesError">
            <h1 class="red text-center" ng-show="showErrorText">[[ imagesErrorMsg ]]</h1>
         </div>

         <div class="child" ng-show="correctAnswer">
            <h1 class="green text-center">Corect!</h1>
         </div>


         <div class="child" ng-show="finishPage">
            <h1 class="text-center">Multumesc pentru timpul acordat</h1>
         </div>

         <div class="child image" ng-show="imagesShow">
            <img ng-src="[[currentImage]]" class="image" />
            <div class="btn-group inline">
               <div ng-click="nextImage(true)" class="btn btn-primary btn-lg image-button">Aceasta</div>
               <div class="btn divider"></div>
               <div ng-click="nextImage(true)" class="btn btn-primary btn-lg image-button">Aceasta</div>
             </div>
            </div>
         </div>
      </div>
   </body>
   <script type="text/javascript" src="{{ url_for('static', filename='components/angular/angular.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='components/jquery/jquery.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='components/angular-audio/app/angular.audio.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='components/angular-slider/angular-slider.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/controllers.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
